.oproject-wholediv{
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 10px;

}

.oproject-divl{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:bisque;
  border-radius: 10px;
}

.oproject-div{
  display: flex;
  width: calc(50% - 8px);
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 300px;
  border-radius: 10px;
 
}
.oproject-both{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.oproject-inner-left{
  display: flex;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.left-contents{
  display: flex;
  flex-direction: column;

  width: 100%;
}
.oproject-text{
 display: flex;
 height: 50px;
 width: 90%;
 margin-top: 30%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
}
.button-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.oproject-button{
  display: flex;
  height: 32px;
  width: 25%;
  margin-top: 25%;
  border-radius: 10px;
}

.oproject-inner-right{
  display: flex;
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.oproject-img{
  display: flex;

  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 10px;
}

@media  (max-width: 1139px) {
  .oproject-wholediv{
    width: 80%;
  }


}

@media  (max-width: 870px) {
  .oproject-wholediv{
    display: flex;
    width: 80%;
  }


}
@media  (max-width: 600px) {


}