.projects-section-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.projects-section-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(16px + 1vw);
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  }
.projects-section-title.light{
  color: black; 
}
.projects-section-title.dark{
  color: rgb(255, 255, 255); 
}
.projects-div{
  display: flex;
  flex-direction:row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(216, 232, 238);
  border-radius: 10px;
}

.project-div{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 8px;
  width:40%
}

.project-title{
  display: flex;
  font-size: calc(16px + 0.6vw);
  font-weight: bold;
  margin-bottom: 0%;
}
.project-info{
  display: flex;
  text-align: left;
  font-size: calc(16px + 0.3vw);


}
.project-button-div{
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.project-button{
  display: flex;
  font-size: calc(16px + 0.5vw);
  color: rgb(30, 81, 90);
  width: auto;
  margin-top: 8px;
  margin-right: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(to right, #1babff 0%, #41c4ce 50%, rgb(144, 168, 177) 50%, rgb(144, 168, 177) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
  border-radius: 10px;
}

.project-button:hover{
  background-position:0 0;
  color: white;
}
.project-img{
 width: 60%;
  height: auto;
  border-radius: 10px;
  transition: transform 300ms ease-in-out 0s;
}
.project-img:hover{
  transition: transform 300ms ease-in-out 0s;
}


@media  (max-width: 870px) {
  .projects-section-div{
    width: 80%;
  }
  .project-title{
    display: flex;
    justify-content: center;
  }
  .projects-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

  }
  .project-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 60%;
    margin-bottom: 8px;

  }
  .project-button-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
  }
  .project-button{
    font-size: calc(16px);
  }
  .project-img{
    display: flex;
    justify-content: center;
  }


}

@media  (max-width: 550px) {
  .projects-section-div{
    width: 90%;
  }
  .project-title{
    display: flex;
    justify-content: center;
  }
  .projects-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

  }
  .project-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 80%;
    margin-bottom: 8px;

  }
  .project-button-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  .project-button{
    font-size: calc(16px);
  }
  .project-img{
    display: flex;
    justify-content: center;
    width: 80%;
  }

}