  .mobile-projects-title{
    display: flex;
    justify-content: center;
    font-size: calc(16px + 1vw);
    font-weight: bold;
  }
  .mobile-projects{
    width: calc(50% - 16px);
    margin-bottom: 8px;
    background-color: rgb(216, 232, 238);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 80%;

  }
  .mobile-projects-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 80%;
    margin-bottom: 8px;
  }
  .mobile-projects-text{
    font-size: calc(16px + 0.1vw);
    text-align: left;
  }
  
  
  .mobile-projects-button-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }

  .mobile-projects-button{
    display: flex;
    font-size: calc(16px);
    color: rgb(30, 81, 90);
    width: auto;
    margin-top: 8px;
    margin-right: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(to right, #1babff 0%, #41c4ce 50%, rgb(144, 168, 177) 50%, rgb(144, 168, 177) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }
  .mobile-projects-button-grey{
    display: flex;
    font-size: calc(16px);
    color: rgb(77, 77, 77);
    width: auto;
    margin-top: 8px;
    margin-right: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(to right, #1babff 0%, #41c4ce 50%, rgb(165, 165, 165)  50%, rgb(165, 165, 165) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }
  .mobile-projects-button:hover{
    background-position:0 0;
    color: white;
  }

  .mobile-projects-img-div{
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    height: auto
  }
  .mobile-projects-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

.select-button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  width: 40%;
}

.select-button{
  display: flex;
  font-size: calc(16px + 1vw);
  color: rgb(77, 77, 77);
  cursor: pointer;
  background: linear-gradient(to right, #1babff 0%, #41c4ce 50%, rgb(144, 168, 177) 50%, rgb(144, 168, 177) 100%);
  background-size: 200% 100%;
  border-radius: 10px;
  background-position: 100% 0;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid rgb(0, 0, 0);
  transition: background-position 0.3s;
}

.select-button:hover{
  background-position:0 0;
  color: white;
}