
.f-wholediv{
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.fload-p{
  width: 70%;
  height: 100px;
  background-color: rgb(212, 212, 212);

}
.fload-div{
  display: flex;
  justify-content: center;
  width: 90%;
  height: 200px;

}
.fbutton-div{
  width: 15%;
  height: 40px;
  background-color: rgb(212, 212, 212);

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media  (max-width: 870px) {
.f-wholediv{
  width: 80%;
}

}
@media  (max-width: 600px) {
  .f-wholediv{
    width: 100%;
  }
 .fbutton-div{
  width: 30%;
 }
}