.hero-div{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  min-height: 100vh;

}
.content-div{
  margin-top: 40vh;
}

.hero-text-span{
  text-align: left;
}
.hero-text{
  text-align: left;
  font-size: calc(16px + 3vw);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}
.hero-text-name{
  font-size: calc(16px + 3vw);
  color: rgb(0, 146, 172);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}

.hero-button{
  display: flex;
  font-size: calc(16px + 0.8vw);
  color: rgb(0, 146, 172);
  background-color: white;
  width: auto;
  margin-top: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #bad5e5;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border-radius: 10px;
}
.hero-button:hover{
  box-shadow: inset 400px 0 0 0 #bad5e5;
}

@media  (max-width: 870px) {
  .hero-div{
    width: 80%;

  }
  .hero-text{
    font-size: calc(16px + 1.5vw);
  }
  .hero-text-name{
    font-size: calc(16px + 1.5vw);
  }

}

@media  (max-width: 550px) {
  .hero-div{
    width: 80%;
    flex-wrap: wrap;
  }
  .hero-text{
    font-size: calc(16px + 0.0vw);
  }
  .hero-text-name{
    font-size: calc(16px + 0.0vw);
  }

}