.hero-div{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  min-height: 100vh;

}
.content-div{
  padding-top: 40vh;
}
.content-div.dark{
  background-color: rgb(65, 79, 95);
  padding-top: 40vh;
  padding-bottom: 35vh;
}
.hero-text-span{
  text-align: left;
}
.hero-text{
  text-align: left;
  font-size: calc(16px + 3vw);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}
.hero-text-name{
  font-size: calc(16px + 3vw);
  color: rgb(0, 146, 172);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}

.hero-button{
  display: flex;
  font-size: calc(16px + 0.5vw);
  color: rgb(0, 146, 172);
  width: auto;
  margin-top: 8px;
  margin-right: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(to right, #1babff 0%, #41c4ce 50%, #ffffff 50%, #ffffff 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
  border-radius: 10px;
}
.hero-button.dark{
  background: linear-gradient(to right, #1babff 0%, #41c4ce 50%, rgb(216, 232, 238) 50%, rgb(216, 232, 238) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
.hero-button:hover{
  background-position:0 0;
  color: white;
}

.hero-text.light{
  color: black;
}

.hero-text.dark{
  color: #ffffff;
}
@media  (max-width: 870px) {
  .hero-div{
    width: 80%;

  }
  .hero-text{
    font-size: calc(16px + 1.5vw);
  }
  .hero-text-name{
    font-size: calc(16px + 1.5vw);
  }

}

@media  (max-width: 550px) {
  .hero-div{
    width: 80%;
    flex-wrap: wrap;
  }
  .hero-text{
    font-size: calc(16px + 0.0vw);
  }
  .hero-text-name{
    font-size: calc(16px + 0.0vw);
  }

}